@import "components/registration-form.css";
@import "components/modal.css";
@import "components/create-card.css";
@import "components/filters.css";

* {
    box-sizing: border-box;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

.form-select:focus,
.form-control:focus {
    box-shadow: none;
    border-color: darkgrey;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body > main {
    width: 100%;
    max-width: 1200px;
    border: 2px solid darkgrey;
    border-radius: 10px;
    margin-top: 30px;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    border-top: 2px solid darkgrey;
    height: 100%;
    padding: 40px 15px 15px 15px;
    background-color: rgba(190, 190, 190, 0.1);
}