#cards-container {
    position: relative;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    transition: height 0.3s;
}

.card {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    flex-direction: column;
    text-wrap: normal;
    padding: 10px;
    text-align: center;
    min-width: 250px;
    max-width: 280px;
    min-height: 380px;
    height: 460px;
    transition: 0.3s;
}

.expanded {
    height: 560px;
    transition: height 0.3s;
}

.show-more {
    border-radius: 10px;
    margin-bottom: 5px;
}

.card > * {
    margin: 0;
}

.card > h3 {
    /*color: #fff;*/
    font-weight: 700;
    /*background-color: #DC3545;*/
    border-radius: 10px;
    padding: 3px;
}

.card > p {
    font-weight: 500;
    color: #5c636a;
}

.close {
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
}

.edit {
    border-radius: 10px;
}

.close-button-icon,
.edit-button-icon {
    height: 25px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(331deg) brightness(103%) contrast(101%);
}

.edit-button:hover > img,
.close-button:hover > img {
    scale: 120%;
    transition: 0.3s;
}

.more-info.hidden {
    display: none;
}

.hidden {
    display: none;
}

.more-info {
    padding-top: 10px;
}

.name-text, .doctor-text, .reason-text, .date-text, .more-info {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.name-text {
    font-size: 22px;
    padding-right: 10px;
}

.input-text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.error {
    border: 1px solid red;
}

input.error {
    border-color: red;
}

.hidden-field {
    display: none;
}

@keyframes fade-delete {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}