.filter-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.by-name {
    display: flex;
    align-items: center;
}

option:hover {
    background-color: lightgreen;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.clear-filters {
    outline: none;
    border: none;
    background: none;
}

.clear-filters > img {
    max-height: 35px;
    filter: brightness(0) saturate(100%) invert(46%) sepia(10%) saturate(427%) hue-rotate(167deg) brightness(94%) contrast(84%);
}

.clear-filters:hover > img {
    filter: brightness(0) saturate(100%) invert(71%) sepia(6%) saturate(359%) hue-rotate(169deg) brightness(100%) contrast(95%);
}

.empty-filters-text,
.title {
    font-weight: 700;
    font-size: 35px;
    color: #5c636a;
}