.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 20px;
}

.input-group-text {
    text-align: start;
    background-color: var(--bs-body-bg);
}

.visit-description {
    max-height: 150px;
}