.registration-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(50, 50, 50 ,0.1);
    height: 80px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.logo-wrapper > h1 {
    color: black;
}

.logo-wrapper:hover {
    opacity: 0.7;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.logo-img {
    width: 60px;
    height: 60px;
}

.log-in-btn {
    width: 80%;
    max-width: 160px;
    min-width: 130px;
    font-size: 18px;
    font-weight: 500;
}

.create-visit-btn {
    display: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    max-width: 160px;
    min-width: 140px;
    font-size: 18px;
    font-weight: 500;
}

.create-visit-btn:before {
    content: "+";
    font-size: 30px;
    margin-right: 5px;
    padding-bottom: 3px;
}

.registration-label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registration-error {
    color: #DC3545;
    display: none;
}

.btn-close {
    --bs-btn-close-focus-shadow: none;
}

.registration-input:focus {
    box-shadow: none;
    border-color: darkgrey;
}

.modal-footer {
    justify-content: center;
}

.modal-footer > .btn {
    max-width: 150px;
    width: 100%;
}
